* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
    

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #266dd6;
    padding: 20px;
    text-align: center;
    
}

.header a {
    margin: 0;
    font-size: 2em;
    color: #ffffff;
    text-decoration: none;
    padding: 100px;
    
}

.navbar a:hover{
    color: #ffe602;
}

.container{
    max-width: 1200px;
    margin: 0 auto;

}

.footer{
    background-color: #333333;
    padding: 10px 0;
    margin-top: auto;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
    width: 25%;
    padding: 0 15px;
}

.footer-links h4{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #266dd6;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a p{
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    display: block;
    margin-bottom: 15px;

}

.footer-links ul li a:hover{
    color: #ffffff;
    padding-left: 6px;
}

@media(max-width:991px){
    .footer-row{
        text-align: center;
    }

    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
}

/* INDEX */

.portada{
    background-image: url(portada2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
  }
  
  .txt-noticias{
    display: flex;
    color: #ffffff;
    background-color: cornflowerblue;
    margin-top: 50px;
    width: 25%;
    margin-left: 150px;
    border-radius: 10px;
  }
  
  .txt-noticias h1{
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-right: 15px;
    margin-left: 10px;
  }
  
  .imagen{
    transform: translateX(400px);
  }

  /*    */

  /* ESTILOS FORMULARIO REGISTRO */

h1{
  
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .container-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    padding: 40px;
    border-radius: 10px;
    background-color: cornflowerblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .formulario{
    width: 100%;
  }
  
  .formulario input{
      border-radius: 100%;
  }
  input{
      height: 25px;
      width: 200px;
      border-radius: 10px;
      border: none;
  }
  label{
      color: #ffffff;
      font-size: 18px;
      display: block;
      margin-bottom: 5px;
  }
  
  .error {
    color: red;
  }
  
  .btn button{
      border: none;
      border-radius: 50px;
      width: 130px;
      height: 30px;
      font-size: 15px;
  }
  
  .btn{
      text-align: center;
  }
  
button:hover{
      transform: scale(1.1);
      transition: all 0.3s;
      cursor: pointer;
}
  
  .container-res{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

/* CALENDARIO */
.container-res{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
  }
  
  .calendario{
    width: 70%;
  }
  
  .datos-doctor{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cornflowerblue;
    padding: 20px;
    border-radius: 20px;
    width: 30%;
    margin-right: 100px;
    margin-left: 50px;
  }
  
  .datos-doctor .img-doc{
    width: 200px;
    height: 200px;
    border: solid black;
    margin: auto;
  }
  
  .embed-responsive {
    width: 100%;
  }
  
  .especialidades{
    margin-left: 50px;
    text-decoration: none;
  }
  
  .opciones{
    width: 100%;
    height: 40px;
    font-size: large;
    border-radius: 50px;
  }
  
  .especialidades h1{
    color: black;
  }
  
  .btn2 button{
    border: none;
    border-radius: 50px;
    width: 130px;
    height: 40px;
    font-size: 15px;
    background-color: #266dd6;
    color: #ffffff;
  }
  
  .btn2{
    text-align: center;
  }

/* COMENTARIOS */

.comentarios{
    margin-top: 100px;
  }
  
  .comentarios h1{
    color: black;
    text-align: center;
  }
  
  .comentarios form{
    text-align: center;
  }
  
  .comentarios-realizados{
    display: flex;
    width: 100%;
  }
  .comentario-n{
    width: 30%;
    justify-content: center;
    margin-left: 30px;
  }