body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    top: 0;
    width: 100%;
    background-color: #266dd6;
    padding: 20px;
    text-align: center;
    
}

.header a {
    margin: 0;
    font-size: 2em;
    color: #ffffff;
    text-decoration: none;
    padding: 100px;
    
}

.navbar a:hover{
    color: #ffe602;
}

/* ESTILOS FORMULARIO REGISTRO */

h1{
  
  color: #ffffff;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  padding: 40px;
  border-radius: 10px;
  background-color: cornflowerblue;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formulario{
  width: 100%;
}

.formulario input{
    border-radius: 100%;
}
input{
    height: 25px;
    width: 200px;
    border-radius: 10px;
    border: none;
}
label{
    color: #ffffff;
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
}

.error {
  color: red;
}

.btn button{
    border: none;
    border-radius: 50px;
    width: 130px;
    height: 30px;
    font-size: 15px;
}

.btn{
    text-align: center;
}

button:hover{
    transform: scale(1.1);
    transition: all 0.3s;
    cursor: pointer;
}

.container-res{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.calendario{
  width: 70%;
}

.datos-doctor{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cornflowerblue;
  padding: 20px;
  border-radius: 20px;
  width: 30%;
  margin-right: 100px;
  margin-left: 50px;
}

.datos-doctor .img-doc{
  width: 200px;
  height: 200px;
  border: solid black;
  margin: auto;
}

.embed-responsive {
  width: 100%;
}

.especialidades{
  margin-left: 50px;
  text-decoration: none;
}

.opciones{
  width: 100%;
  height: 40px;
  font-size: large;
  border-radius: 50px;
}

.especialidades h1{
  color: black;
}

.btn2 button{
  border: none;
  border-radius: 50px;
  width: 130px;
  height: 40px;
  font-size: 15px;
  background-color: #266dd6;
  color: #ffffff;
}

.btn2{
  text-align: center;
}